@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background: #fff0d7;
  margin: 0;
}

.header {
  text-align: center;
  padding: 30px;
  background: #fde7c1;
  letter-spacing: 2px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  gap: 50px;
}

#cart-items {
  flex: 2;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  gap: 20px;
  border-radius: 10px;
}

.cart-item img {
  width: 120px;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  margin: 0 0 10px;
}

.cart-info p {
  color: #666;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  height: fit-content;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  border: none;
  background: #111;
  color: #D6C3A3;
  margin-top: 20px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #333;
}

a {
    background-color: #D6C3A3;
    font-size: 16px;
  text-decoration: none;
  color: #111;
  font-family: "Poppins", sans-serif;
}

/* MOBILE AJUSTE COMPLETO */
@media (max-width: 768px) {

  .cart-container {
    flex-direction: column;
    padding: 20px;
  }

  .cart-item {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  .cart-item img {
    width: 80px;
  }

  .cart-info h3 {
    font-size: 16px;
  }

  .cart-info p {
    font-size: 14px;
  }

  .remove-btn {
    font-size: 12px;
  }

  .cart-summary {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  .checkout-btn {
    font-size: 16px;
    padding: 16px;
  }

}
@media (max-width: 500px) {

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img {
    width: 100%;
  }

  .cart-info {
    width: 100%;
  }

  .checkout-btn {
    width: 100%;
  }

}